@*指定 model 資料型態*@
@model List<MaiDotMvcShopping.Models.RouteTest.TempProduct>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>商品列表</h2>
<table class="table">
    <thead>
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>售價</th>
        </tr>
    </thead>
    <tbody>
        @*使用 foreach 列出所有商品至表格元素內*@
        @foreach (var product in this.Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
